@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap");

:root {
  --primary-color: #f0f8ff;
  --secondary-color: #ffd029;
  --title-font: "Secular One";
  --subtitle-font: "Lora";
  --body-font: "Roboto Condensed:wght@300";
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(1, 87, 171);
  background: linear-gradient(
    90deg,
    rgba(1, 87, 171, 1) 0%,
    rgba(0, 25, 111, 1) 25%,
    rgba(0, 11, 91, 1) 50%,
    rgba(0, 4, 64, 1) 75%,
    rgba(2, 0, 36, 1) 100%
  );
}

.header {
  background-color: rgb(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
}

.header__search-form {
  display: flex;
  gap: 1rem;
}

.header__search-input {
  color: var(--primary-color);
  width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid aliceblue;
  background-color: rgba(255, 255, 255, 0.05);
}

::placeholder {
  color: var(--primary-color);
  font-family: var(--subtitle-font);
}

.header__search-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.header__title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.title {
  color: var(--primary-color);
  font-family: var(--title-font);
  font-size: 4rem;
  letter-spacing: 1rem;
}

.subtitle {
  color: var(--secondary-color);
  font-family: var(--subtitle-font);
  font-size: 2rem;
  letter-spacing: 1rem;
}

.wrapper {
  display: flex;
  margin-top: 2rem;
}

.wrapper__sun {
  height: 75rem;
  width: 40rem;
  position: relative;
  left: -30rem;
  background-color: #ffd029;
  border-radius: 50%;
  box-shadow: 0px 0px 250px 0px #ffd02933;
}

.wrapper__solarsystem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.wrapper__mercury {
  height: 1rem;
  width: 1rem;
  background-color: #888888;
  border-radius: 50%;
}

.wrapper__venus {
  height: 2rem;
  width: 2rem;
  background-color: #e7cdcd;
  border-radius: 50%;
}

.wrapper__earth {
  height: 3rem;
  width: 3rem;
  background-color: #428ed4;
  border-radius: 50%;
}

.wrapper__mars {
  height: 1rem;
  width: 1rem;
  background-color: #ef5f5f;
  border-radius: 50%;
}

.wrapper__jupiter {
  height: 10rem;
  width: 10rem;
  background-color: #e29468;
  border-radius: 50%;
}

.wrapper__saturnus {
  overflow: visible;
  height: 8rem;
  width: 8rem;
  background-color: #c7aa72;
  border-radius: 50%;
}

.wrapper__saturnus-ring {
  border: 1px aliceblue solid;
  position: relative;
  left: -25%;
  top: 50%;
  width: 12rem;
  height: 0.05rem;
  border-radius: 33%;
}

.wrapper__uranus {
  height: 5rem;
  width: 5rem;
  background-color: #c9d4f1;
  border-radius: 50%;
}

.wrapper__neptunus {
  height: 5rem;
  width: 5rem;
  background-color: #7a91a7;
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  padding: 2rem;
  margin: 10% auto;
}
